/*上、下、左、右、音乐、返回*/
.button img{
    width: 5.9%;
    position: absolute;
    bottom: 4%;
    z-index: 100;
}
.button .lower{
    left: 23%;
}
.button .upper{
    left: 34%;
}
.button .back2{
    left: 45%;
}
.button .audio{
    left: 55%;
}
.lefRig img{
    width: 10%;
    position: absolute;
    bottom: 42%;
    z-index: 100;
}
.lefRig .left{
    left: 1%;
}
.lefRig .right{
    right: 1%;
}
/*icon图标*/
.iconP{
    position: absolute;
    top: 33%;
    left: 21%;
    font-size: 0.5rem;
    z-index: 110;
    color: #fff;
    font-weight: 700;
}
.iconUp,
.iconLow{
    height: 10%;
    width: 8%;
    position: absolute;
    top: 38%;
    left: 25%;
    z-index: 110;
    animation: iconUp 1s infinite linear;
    /*display: none;*/
}
@keyframes iconUp{
    0%{
        transform: translateY(0) rotate(0);
    }
    50%{
        transform: translateY(30%) rotate(-20deg);
    }
    100%{

        transform: translateY(0) rotate(0);
    }
}
.iconUp img,
.iconLow img{
    width: 100%;
    height: 100%;
}

/*云团*/
.cloud img{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
/*小男孩*/
.boy img{
    width: 14%;
    position: absolute;
    bottom: 0;
    right: 6%;
    transform: rotateY(180deg);
    z-index: 100;
}

/*朝代*/
#dv{
    height: 10.11rem;
}
.dynasty{
    height: 72%;
    width: 77.8%;
    position: relative;
    top: 8.8%;
    left: 11%;
    background: url(../image/border.png) no-repeat;
    background-size: 100% 100%;

}
.chaoDaiBox{
    height: 100%;
    position: relative;
}

/*引入外部字体*/
@font-face{
    font-family: 'Hua Kang poster body';
    src : url('../js/hkhbt-W12.ttf');
}
.chaoDai{
    width: 25%;
    position: absolute;
    right: 17%;
    top: 0;
    z-index: 100;
}
.chaoDai .title{
    font-family: 'Hua Kang poster body';
    font-size: 0.5rem;
    color: #fff;
    float: left;
    margin-left: 5%;
    margin-top: 13%;
}
.chaoDai img{
    width: 26%;
    margin-top: 8%;
    margin-left: 2%;
}
/*朝代内容*/
.content{
    height: 60%;
    width: 44%;
    position: absolute;
    top: 18.6%;
    left: 50%;
    z-index: 9999;
    overflow-x: hidden;
}
#swiper-container2 .swiper-slide{
    height: auto;
}
.contentP{
    font-size: 0.3rem;
    float: left;
    background:-webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 100%), -webkit-linear-gradient(left, rgba(255,255,255,0.5) 100%, rgba(255,255,255,0) 0%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    -webkit-filter:drop-shadow(0px 0px 1px #fff);
}

.swiperIndex {
    height: 73%;
    /* background-color: red; */
    position: relative;
    top: 17%;
}
/*朝代图片*/
.border{
    height: 60%;
    width: 37%;
    position: absolute;
    top: 48px;
    left: 4.4%;
}
.border img{
    height: 100%;
    width: 100%;
    border-radius: 5%;
    border: 1px solid #fff;
}
/*改swiper组件*/
#swiper-container {
    height: 96%;
    width: 98%;
    padding-top: 1%;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and
/*@media only screen and (device-width: 812px) and (device-height: 375px) and*/
(-webkit-device-pixel-ratio: 3){
    #dv{
        height: 8.31rem;
    }
}
@media only screen and (device-width: 320px) and (device-height: 568px) and
(-webkit-device-pixel-ratio: 2){
    .content{
        height: 4rem;
        width: 44%;
        position: absolute;
        top: 1.6rem;
        left: 50%;
        z-index: 9999;
        overflow-x: hidden;
    }
}
