/*灯光*/
.light img{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
/*星星闪烁*/
.flashing img{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
/*返回主app*/
.back img{
    width: 8%;
    position: absolute;
    top:5%;
    left: 2.5%;
}
/*月亮*/
.moon img{
    width: 13%;
    position: absolute;
    top: 5%;
    right: 3%;
}
/*小云朵*/
.scloud img{
    width: 8%;
    position: absolute;
    top: 10%;
    left: 33%;
    animation: scloud 10s infinite linear;
}
@keyframes scloud{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(55%);
    }
    100%{
        transform: translateX(0);
    }
}
/*大云朵*/
.bcloud img{
    width: 14%;
    position: absolute;
    top: 32%;
    left: 0;
    animation: bcloud 5s infinite linear;
}
@keyframes bcloud{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(5%);
    }
    100%{
        transform: translateX(0);
    }
}
/*云团*/
.cloud img{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}
/*星星*/
.stars img{
    width: 10%;
    position: absolute;
    bottom: 6%;
    right: 0;
}
/*中国历史年表*/
.title img{
    width: 65%;
    position: absolute;
    top: 23%;
    left: 18%;
}
/*小男孩*/
.boy img{
    width: 22%;
    position: absolute;
    bottom: 0;
    left: 24%;
}
/*go*/
.go img{
    width: 8%;
    position: absolute;
    bottom: 2%;
    left: 45.8%;
}
/*进度条*/
.progress{
    display: none;
    width: 100%;
    position: relative;
    top: 48%;
    overflow: hidden;
    z-index: 1;
}
.progress .img1{
    width: 80%;
    height: 40%;
    position: absolute;
    right: 9.5%;
    top: 23%;
    background: -webkit-linear-gradient(left bottom,#75cff9, #2263d9);
    /*background: -webkit-linear-gradient(#75cff9, #2263d9);*/
    /*background: -webkit-radial-gradient(#75cff9, #2263d9);*/
    border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;;
    border: 1px solid #75cff9;
}
.progress .img1 img{
    width: 100%;
    height: 100%;
}
.progress .img2{
    width: 80%;
    position: absolute;
    left: 10.5%;
    top: 21%;
}
.progress .img3{
    width: 6%;
    position: relative;
    top: 8%;
    left: 8%;
}
.showMove{
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.showMove img{
    position: absolute;
    width: 5%;
    top: 50%;
    left: 4%;
}


@-webkit-keyframes heartBlast{
    0%{
        background-position:left
    }
    100%{
        background-position:right
    }
}
@keyframes heartBlast{
    0%{
        background-position:left
    }
    100%{
        background-position:right
    }
}
.heartAnimation{
    display:inline-block;
    -webkit-animation-name:heartBlast;
    animation-name:heartBlast;
    -webkit-animation-duration:.8s;
    animation-duration:.8s;
    -webkit-animation-iteration-count:1;
    animation-iteration-count:1;
    -webkit-animation-timing-function:steps(28);
    animation-timing-function:steps(28);
    background-position:right
}




/*闪烁的小星星*/
.show img{
    height: 10%;
    position: absolute;
}
.show .show1{
    top: 15%;
    left: 50%;
    animation: show 3s infinite linear;
}
@keyframes show{
    0%,75%{
        opacity: 1;
        transform: scale(1)
    }
    87.5%{
        opacity: 0.5;
        transform: scale(0.5)
    }
    100%{
        opacity: 1;
        transform: scale(1)
    }
}
.show .show1{
    top: 15%;
    left: 50%;
    animation: show1 3s infinite linear;
}
@keyframes show1{
    0%,75%{
        opacity: 1;
        transform: scale(1)
    }
    87.5%{
        opacity: 0.5;
        transform: scale(0.5)
    }
    100%{
        opacity: 1;
        transform: scale(1)
    }
}
.show .show2{
    top: 17%;
    right: 1%;
    animation: show2 5s infinite linear;
}
@keyframes show2{
    0%,75%{
        opacity: 1;
        transform: scale(1)
    }
    87.5%{
        opacity: 0.5;
        transform: scale(0.5)
    }
    100%{
        opacity: 1;
        transform: scale(1)
    }
}
.show .show3{
    bottom: 9%;
    left: 55%;
    animation: show3 7s infinite linear;
}
@keyframes show3{
    0%,75%{
        opacity: 1;
        transform: scale(1)
    }
    87.5%{
        opacity: 0.5;
        transform: scale(0.5)
    }
    100%{
        opacity: 1;
        transform: scale(1)
    }
}
.show .show4{
    bottom: 0;
    right: 1%;
    animation: show 3s infinite linear;
}
@keyframes show4{
    0%,75%{
        opacity: 1;
        transform: scale(1)
    }
    87.5%{
        opacity: 0.5;
        transform: scale(0.5)
    }
    100%{
        opacity: 1;
        transform: scale(1)
    }
}
.show .show5{
    top: 43%;
    left: 33%;
    animation: show 4s infinite linear;
}
@keyframes show5{
    0%,75%{
        opacity: 1;
        transform: scale(1)
    }
    87.5%{
        opacity: 0.5;
        transform: scale(0.5)
    }
    100%{
        opacity: 1;
        transform: scale(1)
    }
}




