/*隧道*/
.suiDao{
    height: 414px;
    width: 100%;
}
.suiDao .sd1{
    animation: spinZ 20s linear infinite;
}
@keyframes spinZ {
    0% {
        transform-origin:center;
        transform: rotateZ(0deg);
    }
    100% {
        transform-origin:center;
        transform: rotateZ(360deg);
    }
}
.suiDao{
    text-align: center;
    transform:translate(0%,-40%);
}
.suiDao .sd1{
    z-index: 100;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.suiDao .sd2{
    z-index: 100;
    width: 100%;
    position: absolute;
    top: 37%;
    left: 0;
}
/*星星*/
.xing .xing1{
    position: absolute;
    top: 15%;
    left: 3%;
    animation: xing1 20s linear infinite;
}
@keyframes xing1 {
    0% {
        transform:scale(0.1,0.1);
    }
    50% {
        transform:scale(1,1);
    }
    100% {
        transform:scale(0.1,0.1);
    }
}
.xing .xing2{
    position: absolute;
    top: -20%;
    left: 49%;
    animation: xing2 20s linear infinite;
}
@keyframes xing2 {
    0% {
        transform:scale(1,1);
    }
    50% {
        transform:scale(0.1,0.1);
    }
    100% {
        transform:scale(1,1);
    }
}
.xing .xing3{
    position: absolute;
    top: 20%;
    left: 62%;
    animation: xing3 10s linear infinite;
}
@keyframes xing3 {
    0% {
        transform:scale(0.5,0.5);
    }
    50% {
        transform:scale(1,1);
    }
    100% {
        transform:scale(0.5,0.5);
    }
}
/*朝代*/
.chaoDai{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.chaoDai .chaoDai1,
.chaoDai .chaoDai2,
.chaoDai .chaoDai3{
    position: absolute;
    width: 1px;
    height: 1px;
    animation:excircle 21s infinite linear;
    display: none;
}
.chaoDai img{
    width:auto;
    height:auto;
    position: absolute;
}
.chaoDai  .img1{
    animation:fillet 21s infinite linear ;
}
.chaoDai  .img2{
    animation:fillet 21s infinite linear ;
}
.chaoDai  .img3{
    animation:fillet 21s infinite linear ;
} 
/*外圆*/
@keyframes excircle{
    from{
        transform: scale(0.5,0.5) rotate(0deg);
    }
    to{
        transform:scale(0,0) rotate(360deg);
    }
} 
/*内圆*/
@keyframes fillet{
    0%{
        transform:rotate(360deg);
        opacity: 0.5;
    }
    20%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
}

/*返回首页按钮*/
.back img{
    width: 8%;
    position: absolute;
    top: 2%;
    left: 1%;
    z-index: 201;
}
/*时间轴按钮*/
.timeline img{
    width: 8%;
    position: absolute;
    right: 1%;
    bottom: 2%;
    z-index: 201;
}




/* 流星 */
#start{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 300;
    animation:move 2s infinite linear;
}
@keyframes move{
    0%{
        transform:translate(0px,0px);
        opacity: 1;
    }
    100%{
        transform:translate(-300px,300px);
        opacity: 0;
    }
}


@media only screen and (device-width: 812px) and (device-height: 375px) and
(-webkit-device-pixel-ratio: 3) {
    /*增加头部适配层*/
    .suiDao .sd1 {
        z-index: 100;
        width: 100%;
        position: absolute;
        top: -12%;
        left: 0;
    }
}

